<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add employee</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>INSERT EMPLOYEE</h1>
    <form th:object="${employee}" th:action="@{/employee/add}" method="post" enctype="multipart/form-data">
        <table class="table table-bordered">
            <tr>
                <td>Employee Name</td>
                <td><label>
                    <input type="text" th:field="*{emplName}">
                </label></td>
            </tr>
            <tr>
                <td>Department</td>
                <td>
                    <label>
                        <select name="departmentId">
                            <option th:if="${department.status}" th:each="department:${departmentList}"
                                    th:value="${department.departId}" th:text="${department.departName}"></option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <label>
                        <input type="radio" th:field="*{gender}" th:value="true" th:text="Nam" checked>
                    </label>
                    <label>
                        <input type="radio" th:field="*{gender}" th:value="false" th:text="Nữ">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Birth Day</td>
                <td><label>
                    <input th:field="*{birthDate}" type="date">
                </label></td>
            </tr>
            <tr>
                <td>Avatar</td>
                <td>
                    <label>
                        <input name="file" type="file" class="form-control">
                    </label>
                </td>
            </tr>
            <tr>
                <td>Position</td>
                <td><label>
                    <input type="text" th:field="*{position}">
                </label></td>
            </tr>
            <tr>
                <td>Salary</td>
                <td><label>
                    <input type="text" th:field="*{salary}">
                </label></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>